.home_title {
  text-align:center;
  padding-top: 57px;
  font-size: 75px;
}

.home_stream-viewer {
  width: 500px;
  height: 400px;
}

.home_content-container {
  display: flex;
  width: 100%;
  justify-content: space-evenly;
  align-content: center;
}

.home_standard-header {
  background-color: skyblue;
  font-size: xx-large;
  color: #000;
}

.home_standard-container {
  padding: 0;
  width: 600px;
  height: 400px;
}

.home_standard-content {
  font-size: large;
}

