.site-header {
	position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 6;
    background-color: purple;
    color: white;

}

.site-header_element-container {
	display: flex;
}

.mat-elevation-z6 {
	box-shadow: 0 3px 5px -1px rgba(0,0,0,.2),
	 0 6px 10px 0 rgba(0,0,0,.14),
	 0 1px 18px 0 rgba(0,0,0,.12);
}
.site-header_button {
	background-color: blue;
	color: white;
}

.site-header_button-container {
  padding-left: 20px;
}

.site-header_format-buttons-container {
  position: absolute;
}

/*.site-header_formats-selector-button {*/
  /*background-color: blue;*/
  /*color: white;*/
  /*width: 70px;*/

/*}*/

.site-header_format-button{
  color:black;
}

.site-header_list-of-formats {
  background-color: green;
}
